.home{
    background-color: #f5f6f9;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 25px;
}

.home-all-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.catagory{
    flex-basis: 22%;
    background-color: #fff;
    margin-top: 29px;
}
.carosel{
    flex-basis: 78%;
    margin-top: 29px;
    padding-left: 20px;
}
.carosel-ditails {
    position: absolute;
    top: -400px;
    text-align: start;
    left: -55px;
}
.carosel-ditails p{
    color: #e01212;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 15px;
    text-transform: uppercase;
}

.carosel-ditails h3 {
    color: #333;
    font-size: 62px;
    text-align: start;
    font-family: inherit;
    font-weight: 600;
    line-height: 65px;
}
.carosel-ditails button {
    border: 1px solid #000;
    background: transparent;
    text-transform: capitalize;
    padding: 12px 30px;
    margin-top: 15px;
    font-weight: 600;
    transition: all 0.3s linear;
}
.carosel-ditails button:hover{
    background-color:#e01212; 
    border: 1px solid #e01212; 
    color: #fff;
}
.home-title {
    background: #f01212;
    color: #fff;
    padding: 13px 21px;
}

.home-title h5 {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    margin-top: 3px;
}

.home-ditails-all {
    text-align: start;
    padding: 0 14px;
}

.home-ditails-all h5 {
    font-size: 16px;
    font-weight: 500;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
}

.home-ditails-all h5 img {
    margin-right: 11px;
}
.home-ditails-all h4{
    font-size: 16px;
}
img.d-block {
    width: 100%;
  
}
/* home-bottom-part start */
.single-cart-items-home {
    margin-top: 7px;
}
.single-cart-items-home img {
    width: 90%;
}
img.home-big-img {
    width: 70%;
}
.home-bottom-all-content{
background-color: #fff;
padding: 10px 0;
margin-bottom: 40px;
}
.single-cart-items-home.a {
    margin-top: 14px;
}
.home-bottom-part {
    padding: 10px;
}
.home-Bottom-title{
    display: none;
}

/* doctor cart */
.single-doctor1 {
    background: #e9d6c7fa;

    position: relative;
    border-radius: 6px;
}
.row.doctorcard-area {
    margin-bottom: 55px;
}
.single-doctor1 img {
    width: 100%;
    
}
.single-doctor-text {
    position: absolute;
    left: 25px;
    width: 220px;
    text-transform: capitalize;
    text-align: left;
    top: 30px;
}

.single-doctor-text p {
    margin: 0;
}
.single-doctor-text small {
    color: #e01212;
    font-weight: 500;
    font-size: 15px;
}

.single-doctor-text h4 {
    color: #535353;
    margin-top: 3px;
    line-height: 28px;
    font-size: 24px;
}
.single-doctor-text h6 {
    margin-top: 23px;
    position: relative;
    color: #000000;
    font-weight: 600;
}

.single-doctor2 {
    background: #f6bfc2;
 
    position: relative;
    border-radius: 6px;
}

.single-doctor2 img {
    width: 100%;
    
}
.single-doctor3 {
    background: #b9dff6;

    position: relative;
    border-radius: 6px;
}

.single-doctor3 img {
    width: 100%;
    
}
.single-doctor-text h6:before {content: '';width: 82px;height: 2px;background: #000;display: block;position: absolute;bottom: -7px;}


/* madicin start========================================================================== */


.col-lg-3.col-md-4.col-4.main-singlemdicin {
    padding: 0;
    border: 1px solid #44444417;
    background: #fff;
}
.singlemdicin img {
    width: 60%;
}

.singlemdicin {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}
.singlemdicin-text {
    width: 195px;
}
.singlemdicin-text h6 {
    margin: 0;
    color: #606060;
    font-weight: 400;
}
.singlemdicin-text {
    text-align: left;
}
.singlemdicin-text {
    text-align: left;
    margin-left: 27px;
}
.singlemdicin-text small {
    color: #898989;
}

.bestsell-area h3 {
    text-align: start;
    margin-bottom: 35px;
    position: relative;
    font-weight: 300;
    font-size: 27px;
}

.bestsell-area h3:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #00000017;
    display: block;
    position: absolute;
    bottom: -16px;
}

.bestsell-area span {
    font-size: 30px;
    font-weight: 500;
}
 /* services start =======================================================================*/
 .card {
    border: 0;
    background: transparent;
}
.card-body {
    padding: 0;
    margin-top: 17px;
}
.singleServices {
    margin-top: 50px;
}

/* services ditiles ==================================================================================== */

.servicess h3 {
    text-transform: capitalize;
    margin: 0;
    margin-top: 64px;
    position: relative;
    margin-bottom: 17px;
    font-weight: 300;
}
.servicess h3 span {
    font-weight: 500;
}
.servicess h3:before {content: '';width: 100%;height: 2px;background: #00000017;display: block;position: absolute;bottom: -16px;}



/* services ditailes end ==================================================================================*/
.col-lg-3.col-md-4.col-6.main-singlemdicin {
    border: 1px solid #dddddda6;
}


@media (max-width:768px) {
    .home {
        height: 100%;
    }
    .catagory{
        
        display: none;
    }
    .carosel{
        flex-basis: 100%;
        margin-top: 0px;
        padding-left: 0px;
    }
    .carosel-ditails p {
    font-size: 15px;
    margin: 0;
    }
    .carosel-ditails {
        top: -199px;
        left: -36px;
    }
    .carosel-ditails button {
        padding: 11px 13px;
        font-size: 10px;
    }
    .carosel-ditails h3 {
        color: #333;
        font-size: 30px;
        text-align: start;
        font-family: inherit;
        font-weight: 600;
        line-height: 33px;
    }
    img.d-block {
        width: 100%;
        height: 390px;
        object-fit: cover;
    }
    .home-Bottom-title {
        display: block;
        text-align: center;
        margin-left: 3px;
        text-transform: capitalize;
        padding: 0 10px;
        border-bottom: 1px solid #0003;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-Bottom-title img:first-child {
        margin-right: 10px;
    }
    .home-Bottom-title img:last-child {
        margin-left: 10px;
    }
    .home-Bottom-title h5 {
        margin-top: 1px;
        color: #e01212;
    }
    .single-doctor1 {
        margin-bottom: 15px;
    }
    .single-doctor2 {
        margin-bottom: 15px;
    }
    .single-doctor-text h4 {
        font-size: 22px;
    }
    .singlemdicin-text {
        margin-left: 15px;
    }
    .singleServices {
        margin-top: 50px;
        padding: 1px 26px;
    }
    .row.doctorcard-area {
        padding: 11px;
    }
    .bestsell-area {
        padding: 0 16px;
    }
}





