
/* Appointment-section */
.Appointment-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Appointment-section-all-content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}



.Appointment-section-container{
    width: 1170px;
margin: 80px 0;
padding: 10px 13px;
}

.left-content-img{
   flex-basis: 50%;

}
.left-content-img img{
   width: 100%;

}

.right-content-form{
    flex-basis: 50%;
}

.Appointment-title{
text-align: center;


}

.Appointment-title span{

background-color: #f6000018;
padding: 10px 15px;
color:#f60019;
font-weight: bold;
margin-right: 2px;
border-radius: 3px;
font-size: 2.1rem;
margin-top: 10px;
display: inline-block;

}




form {
    background-color: #fff;
    padding: 23px 17px 49px 25px;
    margin-left: 14px;
    border-top: 1px solid crimson;
    border-bottom: 1px solid crimson;
}

.form-title {
    text-align: center;
    font-size: 25px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-weight: 700;
  
}

.form-title span{
    background-color:#f6000018;;
    color:#ff0000;
    padding: 0px 6px;
    font-size: 20px;
    margin-right: 2px;
}




.all-baje-icon {
    display: flex;
    justify-content: space-between;

}
.all-baje-icon.nambar2 {
    margin-top: 54px;
}

img.iconbaje {
    width: 32px;
    border-radius: 18px;
    animation:spin 1s linear infinite;



}



@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }






form input {
    width: 100%;
    padding: 13px;
    font-size: 15px;
    text-transform: none;
    /* margin-top: 8px; */
    border-radius: 4px;
    background-color: #fff;
    color: #6f6c6c;
    border: 1px solid #ddd;
}



form p {
    font-size: 19px;
    margin-bottom: 10px;
    padding-top: 25px;
    color: #6f6c6c;
}
input[type="checkbox"] {
    width: 16px;
}
label.check {
    color: #000;
    margin-left: 10px;
}

.single-item{
    display: flex;
   
}
.single-item i {
    font-size: 42px;
    margin-right: 13px;
    color: #e01212;
    margin-top: 10px;
}
.single-item h5 {
    margin: 0;
}
.informations{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.single-item.nember2 {
    margin-right: 30px;
}

.informations.numbers-2 {
    margin-top: 30px;
}

.moreInformations {
    margin-top: 52px;
}
.checkbox {
    margin-top: 10px;
}
button.mt-3.registerbtn {
    border: 1px solid #e01212;
    background: crimson;
    color: #fff;
    padding: 9px 35px;
    text-transform: capitalize;
    border-radius: 3px;
    display: block;
    margin: auto;
}
.loginwith {
    text-align: center;
    margin-top: 9px;
    text-transform: capitalize;
}
button.btn.googlebtn {
    display: block;
    margin: auto;
}
.owner {
    margin-top: 50px;
}
.owner p {
    text-align: justify;
}
.owner h4 {
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 26px;
    position: relative;
}

.owner h4:before {content: '';width: 170px;height: 2px;display: block;background: crimson;position: absolute;bottom: -13px;}


.wow.slideInLeft.left-content-img h2 {
    position: relative;
    margin-bottom: 21px;
}

h2 {}

.wow.slideInLeft.left-content-img h2:before {content: '';width: 175px;height: 2px;background: crimson;display: block;position: absolute;bottom: -9px;}
/* top background image start */
.loginditile{
    padding-top: 100px;

}
.login{
    padding-top: 100px;
    background-color: #000;
 }
 .articles{
     background-image: linear-gradient(180deg, #00000096 0%, #000000ad 100%),url(https://www.mdd.gov.hk/filemanager/template/common/images/index-mdd-main-visual-bg.jpg);
 background-size: cover;
 background-position:center center;
 background-attachment: fixed;
 }
 .loginditile-article-content-text{
    padding: 130px 0px 120px 0px;
    margin-top: -100px;
    text-align: center;
 }
 .loginditile-article-content-text h1{
     color: #fff;
     font-size: 38px;
     font-weight: 700;
     position: relative;
     margin-bottom: 50px;
 }
 .loginditile-article-content-text p{
     color: #fff
     
 }
 .loginditile-article-content-text h1:before {
     position: absolute;
     content: '';
     width: 130px;
     height: 3px;
     background: orange;
     bottom: -30px;
     left: 45%;
 }
/* top background image end */

.alert {
    text-align: center;
    text-transform: capitalize;
    background: aliceblue;
    padding: 14px;
}

.alert p {
    padding: 0;
    color: orange;
}


@media (max-width:768px) {
    
/* Appointment start */

.Appointment-section-all-content {
    flex-direction: column;
}

.Appointment-title span {
    padding: 10px 14px;
    font-size: 1.5rem;
}


.right-content-form{
   flex-basis: 100%;
   margin-top: 10px;
   margin-left: -12px;

}
form {
    padding: 15px 26px 18px 25px;
   
   
}
.left-content-img{
    flex-basis: 100%;
    width: 100%;

}
.single-item {
  display: block;
    text-align: center;
}
.single-item.nember2 {
    margin-right: 0px;
}
.moreInformations {
    margin-bottom: 16px;
}



form {
   
    margin-left: 0px;
   
}









}




